
<footer class="text-white-50 text-center">
  <p class="dont-break-out"><a href="https://velasdogs.com"> <img class="view-on-icon2" src="/images/profile.png" alt="velasdogs"></a></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>