<header>
  <div>
    <h3 class="float-md-start mb-2 text-center">
      <a class="brand upper" href="/">
        <span><%= app_name %></span>
      </a>   
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link <% if (activeTab == 'rarity') { %> active <% } %>" aria-current="page" href="/">Rarity</a>
      <a class="nav-link <% if (activeTab == 'matrix') { %> active <% } %>" href="/matrix">Matrix</a>
      <% if (use_wallet) { %>
      <a class="nav-link <% if (activeTab == 'wallet') { %> active <% } %>" href="/wallet">Wallet</a>
      <% } %>
    </nav>
  </div>
</header>